

{% extends 'core/base.html' %}

{% block title %}Home{% endblock %}

    {% block content %}
    <header class="page-header page-header--index">
        <div class="page-header__container">
            <h1 class="page-header__title">Lorem ipsum</h1>
            <p class="page-header__content">Lorem ipsum dolor sit, amet</p>
        </div>
    </header>

    <main role="main">
        <article class="container container--main">

            <section class="post">
                <h2 class="post__title">Why do we use it?</h2>
                <h3 class="post__subtitle">It is a long established fact that a reader will be 
                    distracted by the readable content of a page when looking at its layout. 
                    The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</h3>
            </section>

                <hr>

            <section class="post">
                <h2 class="post__title">Where does it come from?</h2>
                <h3 class="post__subtitle">Contrary to popular belief, Lorem Ipsum is not simply random text. 
                    It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</h3>
            </section>

                <hr>

            <section class="post">
                <h2 class="post__title">Where can I get some?</h2>
                <h3 class="post__subtitle">There are many variations of passages of Lorem Ipsum available, 
                    but the majority have suffered alteration in some form, by injected humour, or randomised words</h3>
            </section>

                <hr>

            <div class="main__button">
                <a href="#">Más post</a>
            </div>

        </article>
    </main>
{% endblock %}

      